@model Store.Book

@{
    ViewData["Title"] = Model.Title; 
}

<h1>Книга: <strong>@Model.Title</strong></h1>
<p><strong>Имя автора: </strong>@Model.AuthorName</p>
<p><strong>Описание: </strong>@Model.Description</p>
<p><strong>Цена: </strong>@Model.Price$</p>
<form action="@Url.Action("Add", "Cart")" method="Post">
    <input type="hidden" name="id" value="@Model.Id"/>
    <button class="btn btn-outline-success" type="sunbit">В корзину</button>
</form>
