<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Интернет магазин на C#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Store.Web.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white"> @*строка навигации*@ @*Строка поиска*@
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Интернет магазин на C#</a>
        <form class="d-flex m-2 my-lg-0" action="@Url.Action("Index","Search")" method="get">
            <input class="form-control mr-sm-2" type="search" name="query" value="" placeholder="Поиск"/>
            <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">Искать</button>
        </form>
             <span class="navbar-text ml-auto" style="margin-left: 800px">
                   @{
            
                       Cart cart = new Cart();
                       if (!Context.Session.TryGetCart(out cart))
                       cart = new Cart();
            
                         if (cart.items.Count == 0)
                         {
                            @:Корзина пуста
                         }
                         else
                         {
                            @:Товаров @cart.items.Count на сумму @cart.Amount
                         }
                   }
             </span>
    </nav>
</header>
<style>
  .search-button {
    margin-left: 10px; /* Измените значение, чтобы установить нужный отступ */
  }
</style>
<div class="container">
    <main>
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

